In [101]:
import matplotlib.pyplot as plt
import numpy as np
import mysql.connector

import pandas as pd

mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="FH_Master_2122",
    database="forschung"
)

mycursor = mydb.cursor()

In [104]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM diagnosen")
myresult = mycursor.fetchall()

df = pd.DataFrame(myresult, columns = ['id', 'klientid','giltab','giltbis','bezeichnung','code','status','statusname'])
diagnoses = df
a = df.bezeichnung.unique()
diabetes = []
for dia in list(a):
    try:
        if "diab" in dia:
            diabetes.append(dia)
    except:
        continue

#diabetes = ['Diabetes', 'Diab. mellitus', 'Diabetes mellitus', 'Diabetes mellitus Typ 2', 'Diabetes mellitus Typ II']
df_filter = df[df.bezeichnung.isin(diabetes)]
# 245 Klienten haben eine Krankheit mit Diabetes, es gibt 304 Diagnosen
klienten = list(df_filter.klientid.unique())

In [106]:
diagnoses

,id,klientid,giltab,giltbis,bezeichnung,code,status,statusname
0,1,718,2007-01-10,NaT,Hyertensive Krise bei art. Hypertonus,None,-1,Keine Angabe
1,2,718,2007-01-10,NaT,Rezidiv Vertigo mit Sturzneigung,None,-1,Keine Angabe
2,3,2681,2006-04-01,NaT,cerebeläre Ataxie,None,-1,Keine Angabe
3,4,2681,2006-04-01,NaT,Osteoporose,None,-1,Keine Angabe
4,5,420,1997-05-02,NaT,senile Demenz,None,-1,Keine Angabe
...,...,...,...,...,...,...,...,...
69867,69868,23488,2021-11-10,NaT,akute Niereninsuffizienz,None,-1,Keine Angabe
69868,69869,23488,2021-11-10,NaT,Subilieus bei Koprostase (10/2021),None,-1,Keine Angabe
69869,69870,23488,2021-11-10,NaT,COVID19-Infektion (nachgewiesen am 13.10.2021),None,-1,Keine Angabe
69870,69871,21910,2021-11-10,NaT,Pertrochantäre Femurfraktur links mit laterale...,None,-1,Keine Angabe
69871,69872,21910,2021-11-10,NaT,Transfusionsbedürftigte postoperative Anämie,None,-1,Keine Angabe

In [107]:
mycursor.execute("SELECT * FROM vitalwerte")
myresult = mycursor.fetchall()

vp = pd.DataFrame(myresult, columns = ['id', 'klientid','datum','bezeichnung','wert','einheit','wurdeunterschritten','wurdeueberschritten'])

In [108]:
vp_filter = vp[vp.klientid.isin(klienten)]
len(vp_filter.klientid.unique())
klienten = list(vp_filter.klientid.unique())

In [109]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM medikamentgaben")
myresult = mycursor.fetchall()

medi = pd.DataFrame(myresult, columns=['id','klientid','tag','datum','bezeichnung','pzn','menge','einheit','atccode'])

In [110]:
mycursor.execute("SELECT * FROM medikamentinhaltsstoffe")
myresult = mycursor.fetchall()
inhalt = pd.DataFrame(myresult, columns = ['id','pzn','bezeichnung','menge','einheit'])

In [111]:
# Blutzucker 175 Personen
# 140 Personen mit mehr als 12 Blutzuckerwerten
# 74 Personen mit mehr als 100 Blutzuckerwerten
vp_blutzucker = vp_filter[vp_filter.bezeichnung == 'Blutzucker']
anzahl = vp_blutzucker.klientid.value_counts()
klienten = list(anzahl[anzahl > 100].index)
len(klienten)

74

In [112]:
my_diagnoses = diagnoses[diagnoses["klientid"].isin(klienten)]

In [113]:
vp_filter_bz = vp_blutzucker[vp_blutzucker.klientid.isin(klienten)]

In [114]:
ergebnisse = {}
for klient in klienten:
    df = vp_filter_bz[vp_filter_bz.klientid == klient].sort_values('datum')
    datum = list(df.datum)
    beginn = datum[0]
    ende = datum[-1]
    anzahl = len(datum)
    ergebnisse[klient] = [beginn, ende, anzahl]
ergebnisse

{5934: [Timestamp('2009-05-04 07:30:00'),
  Timestamp('2020-10-20 06:30:00'),
  8889],
 9829: [Timestamp('2012-11-30 17:26:00'),
  Timestamp('2019-09-27 06:30:00'),
  8340],
 12079: [Timestamp('2014-08-06 22:00:00'),
  Timestamp('2021-11-10 22:00:00'),
  7924],
 10532: [Timestamp('2013-04-05 17:46:00'),
  Timestamp('2021-11-02 18:00:00'),
  7508],
 8711: [Timestamp('2011-08-23 17:29:00'),
  Timestamp('2019-01-26 18:00:00'),
  7408],
 4197: [Timestamp('2007-11-12 12:20:00'),
  Timestamp('2013-11-05 06:30:00'),
  6878],
 13277: [Timestamp('2016-07-17 11:12:00'),
  Timestamp('2021-06-17 18:00:00'),
  5250],
 7672: [Timestamp('2010-09-24 17:30:00'),
  Timestamp('2017-06-03 13:37:00'),
  5203],
 10773: [Timestamp('2013-06-06 18:00:00'),
  Timestamp('2018-08-01 06:30:00'),
  5058],
 12982: [Timestamp('2015-05-09 12:38:00'),
  Timestamp('2020-11-24 19:00:00'),
  4793],
 14242: [Timestamp('2016-04-05 06:30:00'),
  Timestamp('2021-11-11 06:30:00'),
  4154],
 19578: [Timestamp('2019-06-14 18:00:00'),
  Timestamp('2021-11-11 03:30:00'),
  4097],
 17353: [Timestamp('2018-03-04 12:00:00'),
  Timestamp('2020-12-10 21:00:00'),
  3107],
 17485: [Timestamp('2018-03-27 12:00:00'),
  Timestamp('2020-11-27 18:00:00'),
  2561],
 10362: [Timestamp('2013-03-01 08:00:00'),
  Timestamp('2016-10-14 17:15:00'),
  2511],
 14472: [Timestamp('2016-06-02 19:51:00'),
  Timestamp('2020-03-22 11:18:00'),
  2499],
 13206: [Timestamp('2015-07-04 11:32:00'),
  Timestamp('2021-03-04 06:30:00'),
  2330],
 21073: [Timestamp('2020-04-17 14:20:00'),
  Timestamp('2021-11-11 06:30:00'),
  2256],
 10788: [Timestamp('2013-06-11 17:23:00'),
  Timestamp('2016-07-27 02:30:00'),
  1865],
 15055: [Timestamp('2016-10-24 11:30:00'),
  Timestamp('2018-07-02 12:00:00'),
  1811],
 13973: [Timestamp('2016-02-10 18:00:00'),
  Timestamp('2019-07-08 18:00:00'),
  1807],
 16721: [Timestamp('2017-10-31 11:25:00'),
  Timestamp('2021-04-11 06:30:00'),
  1721],
 8274: [Timestamp('2011-04-12 17:15:00'),
  Timestamp('2015-05-30 08:19:00'),
  1705],
 14393: [Timestamp('2016-05-19 21:45:00'),
  Timestamp('2021-05-26 12:00:00'),
  1691],
 16328: [Timestamp('2017-10-27 08:00:00'),
  Timestamp('2020-08-23 06:30:00'),
  1647],
 10227: [Timestamp('2013-01-06 17:15:00'),
  Timestamp('2015-05-18 09:05:00'),
  1634],
 14742: [Timestamp('2016-08-04 18:58:00'),
  Timestamp('2019-05-08 12:00:00'),
  1622],
 10554: [Timestamp('2013-04-13 08:00:00'),
  Timestamp('2018-10-18 20:40:00'),
  1538],
 13114: [Timestamp('2015-10-02 12:17:00'),
  Timestamp('2020-12-15 03:35:00'),
  1535],
 13611: [Timestamp('2015-10-08 15:54:00'),
  Timestamp('2017-03-14 19:15:00'),
  1464],
 9370: [Timestamp('2012-06-08 08:00:00'),
  Timestamp('2021-11-10 18:00:00'),
  1179],
 15514: [Timestamp('2017-02-10 12:43:00'),
  Timestamp('2019-01-08 17:15:00'),
  1061],
 16525: [Timestamp('2017-09-12 10:54:00'),
  Timestamp('2019-06-28 23:05:00'),
  1000],
 19007: [Timestamp('2019-02-25 11:23:00'),
  Timestamp('2021-06-23 09:50:00'),
  978],
 7957: [Timestamp('2011-01-09 08:20:00'),
  Timestamp('2014-10-24 11:40:00'),
  962],
 12756: [Timestamp('2015-02-17 17:10:00'),
  Timestamp('2015-12-24 19:56:00'),
  953],
 3181: [Timestamp('2007-10-01 08:00:00'),
  Timestamp('2014-08-21 06:30:00'),
  908],
 9622: [Timestamp('2012-06-11 19:28:00'),
  Timestamp('2017-02-01 06:30:00'),
  709],
 21286: [Timestamp('2020-06-04 22:00:00'),
  Timestamp('2021-11-10 21:00:00'),
  670],
 13730: [Timestamp('2015-11-11 12:28:00'),
  Timestamp('2016-09-25 21:00:00'),
  635],
 15821: [Timestamp('2017-04-20 18:00:00'),
  Timestamp('2017-11-12 18:00:00'),
  612],
 17365: [Timestamp('2018-03-02 06:30:00'),
  Timestamp('2019-09-12 08:06:00'),
  506],
 22239: [Timestamp('2021-02-19 18:00:00'),
  Timestamp('2021-09-17 07:57:00'),
  501],
 22906: [Timestamp('2021-07-13 13:10:00'),
  Timestamp('2021-11-10 22:00:00'),
  452],
 22415: [Timestamp('2021-04-01 18:00:00'),
  Timestamp('2021-08-26 21:00:00'),
  449],
 15129: [Timestamp('2016-11-04 12:00:00'),
  Timestamp('2019-06-25 06:30:00'),
  375],
 21650: [Timestamp('2020-09-03 23:24:00'),
  Timestamp('2021-11-10 21:00:00'),
  354],
 8327: [Timestamp('2011-04-27 18:00:00'),
  Timestamp('2015-04-22 06:30:00'),
  349],
 11477: [Timestamp('2014-01-24 17:38:00'),
  Timestamp('2017-04-19 10:51:00'),
  338],
 15757: [Timestamp('2018-01-25 18:00:00'),
  Timestamp('2018-05-31 12:00:00'),
  321],
 16060: [Timestamp('2017-06-23 12:00:00'),
  Timestamp('2020-01-14 12:00:00'),
  318],
 22145: [Timestamp('2021-01-21 12:50:00'),
  Timestamp('2021-03-31 08:33:00'),
  310],
 18387: [Timestamp('2018-09-20 18:37:00'),
  Timestamp('2019-02-16 07:30:00'),
  298],
 19459: [Timestamp('2019-07-30 08:20:00'),
  Timestamp('2021-07-15 20:42:00'),
  293],
 9994: [Timestamp('2012-10-20 12:41:00'),
  Timestamp('2019-10-08 10:05:00'),
  272],
 10542: [Timestamp('2013-04-11 12:00:00'),
  Timestamp('2014-10-25 21:00:00'),
  270],
 21027: [Timestamp('2020-04-08 07:18:00'),
  Timestamp('2020-08-10 13:04:00'),
  263],
 14668: [Timestamp('2016-08-15 08:00:00'),
  Timestamp('2020-04-14 17:20:00'),
  247],
 6186: [Timestamp('2012-11-23 03:27:00'),
  Timestamp('2013-12-01 07:45:00'),
  244],
 19679: [Timestamp('2019-07-08 14:06:00'),
  Timestamp('2020-02-10 08:00:00'),
  224],
 9569: [Timestamp('2012-05-23 18:00:00'),
  Timestamp('2014-06-30 18:00:00'),
  195],
 19184: [Timestamp('2019-03-28 10:26:00'),
  Timestamp('2019-07-16 20:07:00'),
  175],
 3734: [Timestamp('2007-08-20 09:57:00'),
  Timestamp('2014-09-15 16:30:00'),
  155],
 19046: [Timestamp('2019-04-04 18:00:00'),
  Timestamp('2019-06-02 18:00:00'),
  140],
 15653: [Timestamp('2017-03-09 09:30:00'),
  Timestamp('2017-05-27 06:30:00'),
  140],
 17619: [Timestamp('2018-04-26 10:08:00'),
  Timestamp('2020-02-25 17:20:00'),
  137],
 13759: [Timestamp('2015-11-23 09:58:00'),
  Timestamp('2016-11-30 07:24:00'),
  135],
 16731: [Timestamp('2017-11-02 20:22:00'),
  Timestamp('2019-07-08 01:00:00'),
  131],
 10802: [Timestamp('2013-06-15 06:30:00'),
  Timestamp('2013-07-09 12:00:00'),
  129],
 18220: [Timestamp('2018-08-21 18:00:00'),
  Timestamp('2018-11-08 06:30:00'),
  127],
 20112: [Timestamp('2019-09-16 21:38:00'),
  Timestamp('2019-10-14 07:30:00'),
  111],
 5509: [Timestamp('2011-05-12 09:30:00'),
  Timestamp('2018-01-03 08:54:00'),
  105],
 15682: [Timestamp('2017-03-11 06:30:00'),
  Timestamp('2017-04-13 21:14:00'),
  102],
 10435: [Timestamp('2013-03-09 08:00:00'),
  Timestamp('2013-10-16 09:30:00'),
  101]}

In [115]:
ergebnisse = pd.DataFrame(ergebnisse)
ergebnisse = ergebnisse.transpose()
ergebnisse.columns = ["Anfang","Ende","Anzahl_Messungen"]
ergebnisse["Zeitspanne"] = (ergebnisse.Ende - ergebnisse.Anfang).round('D')
ergebnisse

# hohe Standardabweichung, Mittelwert = 1129 Tage, Median = 907, Quartilsbox = 332 - 1823

                   Anfang                Ende Anzahl_Messungen Zeitspanne
5934  2009-05-04 07:30:00 2020-10-20 06:30:00             8889  4187 days
9829  2012-11-30 17:26:00 2019-09-27 06:30:00             8340  2492 days
12079 2014-08-06 22:00:00 2021-11-10 22:00:00             7924  2653 days
10532 2013-04-05 17:46:00 2021-11-02 18:00:00             7508  3133 days
8711  2011-08-23 17:29:00 2019-01-26 18:00:00             7408  2713 days
...                   ...                 ...              ...        ...
18220 2018-08-21 18:00:00 2018-11-08 06:30:00              127    79 days
20112 2019-09-16 21:38:00 2019-10-14 07:30:00              111    27 days
5509  2011-05-12 09:30:00 2018-01-03 08:54:00              105  2428 days
15682 2017-03-11 06:30:00 2017-04-13 21:14:00              102    34 days
10435 2013-03-09 08:00:00 2013-10-16 09:30:00              101   221 days

[74 rows x 4 columns]

In [116]:
my_vp = vp_filter[vp_filter.klientid.isin(klienten)]
my_medi = medi[medi.klientid.isin(klienten)]
my_dia = my_diagnoses

In [117]:
import numpy as np
werte = list(my_vp.wert.apply(str))
werte = [w.replace(',','.') for w in werte]
neu = [float(x.split("/")[0]) if len(x)>1 else np.NaN for x in werte]
my_vp["werte"] = neu

<ipython-input-117-9a984c4a286a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_vp["werte"] = neu

In [118]:
my_vp.to_csv("C:/Users/Caroline Kries/sciebo/Forschungsprojekt Medikamenteninteraktion/03_Daten/my_vp")
my_medi.to_csv("C:/Users/Caroline Kries/sciebo/Forschungsprojekt Medikamenteninteraktion/03_Daten/my_medi")
my_dia.to_csv("C:/Users/Caroline Kries/sciebo/Forschungsprojekt Medikamenteninteraktion/03_Daten/my_dia")

,id,klientid,datum,bezeichnung,wert,einheit,wurdeunterschritten,wurdeueberschritten,werte
953,954,4197,2011-04-26 07:45:00,Blutzucker,160,mg/dl,0,0,160.0
954,955,4197,2011-04-26 11:15:00,Blutzucker,175,mg/dl,0,0,175.0
955,956,4197,2011-04-26 17:15:00,Blutzucker,224,mg/dl,0,0,224.0
956,957,4197,2011-04-27 07:45:00,Blutzucker,182,mg/dl,0,0,182.0
957,958,4197,2011-04-27 11:15:00,Blutzucker,256,mg/dl,0,0,256.0
...,...,...,...,...,...,...,...,...,...
1072097,1072098,7957,2014-10-23 18:00:00,Blutzucker,124,mg/dl,0,0,124.0
1072098,1072099,7957,2014-10-23 23:44:00,Blutzucker,130,mg/dl,0,0,130.0
1072099,1072100,7957,2014-10-24 08:05:00,Blutzucker,110,mg/dl,0,0,110.0
1072100,1072101,7957,2014-10-24 11:30:00,Blutdruck,126/74,mm Hg,0,0,126.0
1072101,1072102,7957,2014-10-24 11:40:00,Blutzucker,118,mg/dl,0,0,118.0