In [1]:
import pandas as pd
results = pd.read_csv("results.csv")
results

,Unnamed: 0,1_weeks_tsfresh,5_weeks_tsfresh,10_weeks_tsfresh,20_weeks_tsfresh,1week_end2end,5week_end2end,10week_end2end,20week_end2end
0,180,4,3,4,8,2,1,1,1
1,175,2,1,5,1,1,1,1,1
2,161,7,1,19,18,15,3,2,1
3,157,1,1,6,7,7,1,1,1
4,156,11,14,26,12,13,14,13,4
5,149,8,4,7,2,1,4,2,1
6,147,1,2,2,13,3,1,1,1
7,138,3,1,4,5,15,2,2,5
8,126,1,1,9,3,1,1,1,1
9,118,4,2,2,8,2,2,2,2
10,97,1,1,1,1,3,1,5,1
11,90,1,4,4,2,1,1,1,1
12,70,1,5,9,14,2,1,1,1
13,69,1,1,1,11,1,1,7,1
14,60,7,2,4,6,2,2,1,1
15,39,5,6,3,5,9,3,6,2
16,25,2,1,10,2,1,1,1,1
17,18,1,3,5,9,1,1,2,1
18,13,1,2,5,2,2,1,1,1
19,12,1,3,1,7,1,1,1,1
20,8,1,4,11,3,2,1,1,1

In [2]:
results.describe()

,Unnamed: 0,1_weeks_tsfresh,5_weeks_tsfresh,10_weeks_tsfresh,20_weeks_tsfresh,1week_end2end,5week_end2end,10week_end2end,20week_end2end
count,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000
mean,95.619048,3.047619,2.952381,6.571429,6.619048,4.047619,2.095238,2.523810,1.428571
std,60.082840,2.940683,2.940683,6.152816,4.811197,4.769446,2.861901,2.976895,1.075706
min,8.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,39.000000,1.000000,1.000000,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000
50%,97.000000,1.000000,2.000000,5.000000,6.000000,2.000000,1.000000,1.000000,1.000000
75%,149.000000,4.000000,4.000000,9.000000,9.000000,3.000000,2.000000,2.000000,1.000000
max,180.000000,11.000000,14.000000,26.000000,18.000000,15.000000,14.000000,13.000000,5.000000