In [1]:
import pandas as pd
import PreprocessingData
from datetime import datetime, timedelta

C:\Users\Caroline Kries\sciebo\Forschungsprojekt Medikamenteninteraktion\04_Quellcode\02_Python\GUIDE Masterarbeit\PreprocessingData.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bz["wert"] = num
C:\Users\Caroline Kries\sciebo\Forschungsprojekt Medikamenteninteraktion\04_Quellcode\02_Python\GUIDE Masterarbeit\PreprocessingData.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bz.sort_values(by='datum',inplace=True)
C:\Users\Caroline Kries\sciebo\Forschungsprojekt Medikamenteninteraktion\04_Quellcode\02_Python\GUIDE Masterarbeit\PreprocessingData.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gw["wert"] = num
C:\Users\Caroline Kries\sciebo\Forschungsprojekt Medikamenteninteraktion\04_Quellcode\02_Python\GUIDE Masterarbeit\PreprocessingData.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gw.sort_values(by='datum',inplace=True)
C:\Users\Caroline Kries\sciebo\Forschungsprojekt Medikamenteninteraktion\04_Quellcode\02_Python\GUIDE Masterarbeit\PreprocessingData.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bmi["wert"] = num
C:\Users\Caroline Kries\sciebo\Forschungsprojekt Medikamenteninteraktion\04_Quellcode\02_Python\GUIDE Masterarbeit\PreprocessingData.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bmi.sort_values(by='datum',inplace=True)
C:\Users\Caroline Kries\sciebo\Forschungsprojekt Medikamenteninteraktion\04_Quellcode\02_Python\GUIDE Masterarbeit\PreprocessingData.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bd["sys"] = sys
C:\Users\Caroline Kries\sciebo\Forschungsprojekt Medikamenteninteraktion\04_Quellcode\02_Python\GUIDE Masterarbeit\PreprocessingData.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bd["dia"] = dia
C:\Users\Caroline Kries\sciebo\Forschungsprojekt Medikamenteninteraktion\04_Quellcode\02_Python\GUIDE Masterarbeit\PreprocessingData.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bd.sort_values(by='datum',inplace=True)

In [2]:
df = PreprocessingData.final_df
df

,Ramipril,"Pantoprazol natrium-1,5-Wasser",Insulin glargin,Simvastatin,Colecalciferol,Torasemid,Natriumchlorid,Natriumhydrogencarbonat,Macrogol 3350,Kaliumchlorid,...,Apixaban,Melperon hydrochlorid,Allopurinol,Insulin glulisin,Rivaroxaban,blutzucker,sys,dia,gewicht,bmi
2017-02-19,11.250000,101.497500,16200.000000,0.0,0.056250,11.250000,0.0,0.0,0.0,0.0,...,0.000000,1125.000000,225.000000,14850.000000,22.500000,203.833333,125.000000,65.000000,61.300,27.2400
2017-02-26,15.000000,135.330000,18514.285714,0.0,0.075000,15.000000,0.0,0.0,0.0,0.0,...,0.000000,1125.000000,300.000000,18128.571429,30.000000,208.619048,121.428571,58.571429,63.500,28.2200
2017-03-05,15.000000,135.330000,16200.000000,0.0,0.075000,15.000000,0.0,0.0,0.0,0.0,...,0.000000,1125.000000,300.000000,27900.000000,30.000000,228.833333,120.000000,60.000000,65.700,29.2000
2017-03-12,15.000000,135.330000,13885.714286,0.0,0.075000,15.000000,0.0,0.0,0.0,0.0,...,0.000000,964.285714,300.000000,18128.571429,30.000000,220.761905,120.000000,66.666667,65.875,29.2775
2017-03-19,12.857143,115.997143,16200.000000,0.0,0.064286,12.857143,0.0,0.0,0.0,0.0,...,0.000000,1125.000000,257.142857,17100.000000,25.714286,214.809524,122.000000,65.000000,66.050,29.3550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-28,0.000000,115.997143,0.000000,0.0,0.064286,0.000000,0.0,0.0,0.0,0.0,...,13.928571,1017.857143,0.000000,15171.428571,0.000000,170.476190,120.000000,70.000000,65.500,29.1100
2021-12-05,0.000000,135.330000,0.000000,0.0,0.075000,0.000000,0.0,0.0,0.0,0.0,...,15.000000,1125.000000,0.000000,13500.000000,0.000000,164.630952,120.000000,70.000000,65.700,29.2000
2021-12-12,0.000000,96.664286,0.000000,0.0,0.053571,0.000000,0.0,0.0,0.0,0.0,...,12.857143,910.714286,0.000000,12342.857143,0.000000,172.940476,120.000000,70.000000,65.700,29.2000
2021-12-19,0.000000,115.997143,0.000000,0.0,0.064286,0.000000,0.0,0.0,0.0,0.0,...,13.928571,1017.857143,0.000000,11700.000000,0.000000,178.380952,120.000000,70.000000,65.700,29.2000
2021-12-26,0.000000,135.330000,0.000000,0.0,0.075000,0.000000,0.0,0.0,0.0,0.0,...,13.125000,843.750000,0.000000,11250.000000,0.000000,176.291667,120.000000,70.000000,65.700,29.2000

In [41]:
def get_train_data(df, n, m="max"):
    """
    generiert trainingsdaten.
    die einzelnen trainingsdatensätze werden durch
    die timeseries_id bestimmt
    :param df: dataframe aus PrepocessingData
    :param n: anzahl an wochen zwischen start und end datum je trainingsdateneinheit
    :param m: anzahl an trainingsdaten, default : "max"
    :return: x und y
    """
    min_date = df.index.min()
    max_date = df.index.max()

    anzahl_mögliche_wochen = (max_date - min_date).days / 7

    if m == "max":
        m = int(anzahl_mögliche_wochen - 2)

    length = timedelta(weeks=n)#days or weeks
    shift = timedelta(days=0)

    y_list = []

    start_date = (min_date + shift)
    end_date = (start_date + length)

    x = df.loc[start_date: end_date][:]
    x = x.iloc[:-1][:]
    x["timeseries_id"] = 0

    y = df.loc[end_date]["blutzucker"]
    y_list.append(y)


    for id, shift in enumerate([timedelta(days = x) for x in range(7,7*m,7)]):
        start_date = (min_date + shift)
        end_date = (start_date + length)

        x_temp = df.loc[start_date: end_date][:]
        x_temp = x_temp.iloc[:-1][:]
        x_temp["timeseries_id"] = id+1

        x = pd.concat([x, x_temp])

        y = df.loc[end_date]["blutzucker"]
        y_list.append(y)

    y = pd.Series(y_list)

    return x,y

In [42]:
n=3
x,y = get_train_data(df, n, "max")

(            Ramipril  Pantoprazol natrium-1,5-Wasser  Insulin glargin  \
 2017-02-19     11.25                      101.497500     16200.000000
 2017-02-26     15.00                      135.330000     18514.285714
 2017-03-05     15.00                      135.330000     16200.000000
 2017-02-26     15.00                      135.330000     18514.285714
 2017-03-05     15.00                      135.330000     16200.000000
 ...              ...                             ...              ...
 2021-12-05      0.00                      135.330000         0.000000
 2021-12-12      0.00                       96.664286         0.000000
 2021-12-05      0.00                      135.330000         0.000000
 2021-12-12      0.00                       96.664286         0.000000
 2021-12-19      0.00                      115.997143         0.000000

             Simvastatin  Colecalciferol  Torasemid  Natriumchlorid  \
 2017-02-19          0.0        0.056250      11.25             0.0
 2017-02-26          0.0        0.075000      15.00             0.0
 2017-03-05          0.0        0.075000      15.00             0.0
 2017-02-26          0.0        0.075000      15.00             0.0
 2017-03-05          0.0        0.075000      15.00             0.0
 ...                 ...             ...        ...             ...
 2021-12-05          0.0        0.075000       0.00             0.0
 2021-12-12          0.0        0.053571       0.00             0.0
 2021-12-05          0.0        0.075000       0.00             0.0
 2021-12-12          0.0        0.053571       0.00             0.0
 2021-12-19          0.0        0.064286       0.00             0.0

             Natriumhydrogencarbonat  Macrogol 3350  Kaliumchlorid  ...  \
 2017-02-19                      0.0            0.0            0.0  ...
 2017-02-26                      0.0            0.0            0.0  ...
 2017-03-05                      0.0            0.0            0.0  ...
 2017-02-26                      0.0            0.0            0.0  ...
 2017-03-05                      0.0            0.0            0.0  ...
 ...                             ...            ...            ...  ...
 2021-12-05                      0.0            0.0            0.0  ...
 2021-12-12                      0.0            0.0            0.0  ...
 2021-12-05                      0.0            0.0            0.0  ...
 2021-12-12                      0.0            0.0            0.0  ...
 2021-12-19                      0.0            0.0            0.0  ...

             Melperon hydrochlorid  Allopurinol  Insulin glulisin  Rivaroxaban  \
 2017-02-19            1125.000000        225.0      14850.000000         22.5
 2017-02-26            1125.000000        300.0      18128.571429         30.0
 2017-03-05            1125.000000        300.0      27900.000000         30.0
 2017-02-26            1125.000000        300.0      18128.571429         30.0
 2017-03-05            1125.000000        300.0      27900.000000         30.0
 ...                           ...          ...               ...          ...
 2021-12-05            1125.000000          0.0      13500.000000          0.0
 2021-12-12             910.714286          0.0      12342.857143          0.0
 2021-12-05            1125.000000          0.0      13500.000000          0.0
 2021-12-12             910.714286          0.0      12342.857143          0.0
 2021-12-19            1017.857143          0.0      11700.000000          0.0

             blutzucker         sys        dia  gewicht    bmi  timeseries_id
 2017-02-19  203.833333  125.000000  65.000000     61.3  27.24              0
 2017-02-26  208.619048  121.428571  58.571429     63.5  28.22              0
 2017-03-05  228.833333  120.000000  60.000000     65.7  29.20              0
 2017-02-26  208.619048  121.428571  58.571429     63.5  28.22              1
 2017-03-05  228.833333  120.000000  60.000000     65.7  29.20              1
 ...                ...         ...        ...      ...    ...            ...
 2021-12-05  164.630952  120.000000  70.000000     65.7  29.20            249
 2021-12-12  172.940476  120.000000  70.000000     65.7  29.20            249
 2021-12-05  164.630952  120.000000  70.000000     65.7  29.20            250
 2021-12-12  172.940476  120.000000  70.000000     65.7  29.20            250
 2021-12-19  178.380952  120.000000  70.000000     65.7  29.20            250

 [753 rows x 23 columns],
 0      220.761905
 1      214.809524
 2      218.476190
 3      229.511905
 4      259.190476
           ...
 246    170.476190
 247    164.630952
 248    172.940476
 249    178.380952
 250    176.291667
 Length: 251, dtype: float64)

In [101]:
def get_guide_data(x,y):
    guide_columns = []
    for col in x.columns[:-1]:
        for i in range(n):
            name = col+"_"+str(i)
            guide_columns.append(name)
    guide_data = pd.DataFrame(columns = guide_columns)


    for id in list(x.timeseries_id.unique()):
        x_data = x[x.timeseries_id == id].drop("timeseries_id",axis=1)
        data = list(x_data.values.transpose().reshape(1,-1)[0])
        guide_data.loc[len(guide_data)] = data

    guide_data["y"] = y
    return guide_data

In [102]:
get_guide_data(x,y)

,Ramipril_0,Ramipril_1,Ramipril_2,"Pantoprazol natrium-1,5-Wasser_0","Pantoprazol natrium-1,5-Wasser_1","Pantoprazol natrium-1,5-Wasser_2",Insulin glargin_0,Insulin glargin_1,Insulin glargin_2,Simvastatin_0,...,dia_0,dia_1,dia_2,gewicht_0,gewicht_1,gewicht_2,bmi_0,bmi_1,bmi_2,y
0,11.250000,15.000000,15.000000,101.497500,135.330000,135.330000,16200.000000,18514.285714,16200.000000,0.0,...,65.000000,58.571429,60.000000,61.300,63.500,65.700,27.2400,28.2200,29.2000,220.761905
1,15.000000,15.000000,15.000000,135.330000,135.330000,135.330000,18514.285714,16200.000000,13885.714286,0.0,...,58.571429,60.000000,66.666667,63.500,65.700,65.875,28.2200,29.2000,29.2775,214.809524
2,15.000000,15.000000,12.857143,135.330000,135.330000,115.997143,16200.000000,13885.714286,16200.000000,0.0,...,60.000000,66.666667,65.000000,65.700,65.875,66.050,29.2000,29.2775,29.3550,218.476190
3,15.000000,12.857143,15.000000,135.330000,115.997143,135.330000,13885.714286,16200.000000,16200.000000,0.0,...,66.666667,65.000000,66.666667,65.875,66.050,66.225,29.2775,29.3550,29.4325,229.511905
4,12.857143,15.000000,15.000000,115.997143,135.330000,135.330000,16200.000000,16200.000000,16200.000000,0.0,...,65.000000,66.666667,75.000000,66.050,66.225,66.400,29.3550,29.4325,29.5100,259.190476
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,15.000000,15.000000,15.000000,135.330000,135.330000,135.330000,0.000000,0.000000,0.000000,0.0,...,60.810811,60.540541,60.270270,60.500,60.600,60.700,26.8900,26.9350,26.9800,142.988095
96,15.000000,15.000000,15.000000,135.330000,135.330000,135.330000,0.000000,0.000000,0.000000,0.0,...,60.540541,60.270270,60.000000,60.600,60.700,60.800,26.9350,26.9800,27.0250,149.333333
97,15.000000,15.000000,15.000000,135.330000,135.330000,135.330000,0.000000,0.000000,0.000000,0.0,...,60.270270,60.000000,56.666667,60.700,60.800,60.900,26.9800,27.0250,27.0700,146.238095
98,15.000000,15.000000,15.000000,135.330000,135.330000,135.330000,0.000000,0.000000,0.000000,0.0,...,60.000000,56.666667,53.333333,60.800,60.900,60.970,27.0250,27.0700,27.1010,136.871429
99,15.000000,15.000000,12.857143,135.330000,135.330000,115.997143,0.000000,0.000000,0.000000,0.0,...,56.666667,53.333333,50.000000,60.900,60.970,61.040,27.0700,27.1010,27.1320,153.619048